<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--LocalDBCommon-->
    <add key="DataSource"
      value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=127.0.0.1)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=SANY)));Persist Security Info=True;User ID=SANY;Password=SANY;"/>
    <!--WebDBCommon-->
    <add key="DataSource" value="http://127.0.0.1:8080/algz"/>
    
    <!--<add key="WebDataSource" value="http://localhost:8080/algz/common/sql/executedatatable"/>
    <add key="DataSource" value="http://localhost:8080/algz/common/sql/executedatatable?sql=" />
    <add key="ExecuteDatatableUrl" value="http://localhost:8080/algz/common/sql/executedatatable?sql="/>
    <add key="ExecuteScalarUrl" value="http://localhost:8080/algz/common/sql/executescalar?sql="/>
    <add key="ExecuteNonQueryUrl" value="http://localhost:8080/algz/common/sql/executenonquery?sql="/>
    <add key="LoginUrl" value="http://127.0.0.1:8080/algz/login"/>-->
    
    <!---MixDBCommon-->
    <add key="DataSource"
      value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=127.0.0.1)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=SANY)));Persist Security Info=True;User ID=SANY;Password=SANY;#http://127.0.0.1:8080/algz"/>
    
    <!--<add key="DataSource"
      value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=127.0.0.1)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=SANY)));Persist Security Info=True;User ID=SANY;Password=SANY;"/>
    <add key="WebDataSource" value="http://localhost:8080/algz/common/sql/executedatatable"/>
    <add key="DataSource" value="http://localhost:8080/algz/common/sql/executedatatable?sql=" />
    <add key="ExecuteDatatableUrl" value="http://localhost:8080/algz/common/sql/executedatatable?sql="/>
    <add key="ExecuteScalarUrl" value="http://localhost:8080/algz/common/sql/executescalar?sql="/>
    <add key="ExecuteNonQueryUrl" value="http://localhost:8080/algz/common/sql/executenonquery?sql="/>
    <add key="LoginUrl" value="http://127.0.0.1:8080/algz/login"/>-->
    
    <add key="ConectionMode" value="0"/>
  </appSettings>
</configuration>